body {
  font-family: sans-serif;
  padding: 1em;
  background-color: #F7F7F7;
}

html {
  box-sizing: border-box;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.logo {
  height: 60px;
  margin-top: 2rem;
}

#main-titles {
  background-color: red;
  background-image: linear-gradient(to left, red, blue);
  background-size: 50%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.ais-ClearRefinements {
  margin: 1em 0;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 230px;
}

.right-panel {
  margin-left: 260px;
  text-align: center;
  width: 660px;
  padding-right: 8px;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-item {
  margin-bottom: 0.5em;
  width: calc(50% - 1rem);
  background: linear-gradient(to left, red, blue);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
}

.ais-Hits-item-module {
  margin: -12px;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.ais-Hits-item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.ais-Hits-item img {
  margin-right: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
  color:back;
}

.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.hit-points {
  color:back;
}


/*========== ClearRefinements-button ==========*/

.ais-ClearRefinements-button {
  background-color: #EB5E13;
}

.ais-ClearRefinements-button:hover {
  background-color: #750B9C;
}

/*========== refinementList - Team button show more ==========*/

#team-list {
  accent-color: #EB5E13;
}

.ais-RefinementList-showMore {
  background-color: #EB5E13;
}

.ais-RefinementList-showMore:hover {
  background-color: #750B9C;
}

/*========== numeric-menu ==========*/

#numeric-menu {
  accent-color: #EB5E13;
}

/*========== fancy-paragraph ==========*/

.fancy-paragraph {
  text-decoration: none;
  background-image: linear-gradient(to left, red, blue);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
  font-weight: 16px;
}

.fancy-paragraph:hover {
  background-size: 100% 6px;
  background-position: bottom 10px;
  color: inherit;
}