body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/*========== SCROLL UP BUTTON ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  color: linear-gradient(90deg, red, blue);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  transition: .4s;
  font-size: 42px;
  margin-right: 2rem;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  color: rgb(200,200,200);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #FFF;
}
/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== My Favorite player feature ==========*/

.players {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  color:#394670;
}

.players li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.players label {
  flex: 1;
  cursor: pointer;
}

.players input {
  display: none;
}

.players input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.players input:checked + label:before {
  content: "🏀";
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 8px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.delete-players {
  margin-top: 3rem;
  margin-left: 34px;
  background-color: #EB5E13;
  border: none;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-family: montserrat;
}

#add-player-button {
  background: linear-gradient(to left, red, blue); 
  background-repeat: no-repeat;
  border-radius: 8px;
  color:#FFF;
  font-family: montserrat;
}